@model IEnumerable<CrystalBallpro.Models.Availability>

@{
    ViewBag.Title = "ScheduleCreate";
}

<h2>Schedule</h2>

<div>
    @Html.ActionLink("View Availability", "ScheduleIndex", "Admins")
</div>
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Admin.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Week.Day)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime.Start)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime.End)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkStatus)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Admin.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Week.Day)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime.Start)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime.End)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkStatus)
            </td>
            @*<td>
                    @Html.ActionLink("Edit", "ScheduleEdit", new { id = item.ID }) |

                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>*@
        </tr>
    }

</table>



<div w-type="event-discovery" w-tmapikey="OX261SAZOn5PqSntXKJhi7BPap8fIU0p" w-googleapikey="AIzaSyCaeNP5O7Dj_e7gV0ppPFCOmDqE-UX56nM" w-keyword="" w-theme="listviewthumbnails" w-colorscheme="dark" w-width="600" w-height="350" w-size="25" w-border="2" w-borderradius="4" w-postalcode="" w-radius="6" w-period="week" w-layout="horizontal" w-attractionid="" w-promoterid="" w-venueid="" w-affiliateid="" w-segmentid="" w-proportion="m" w-titlelink="off" w-sorting="dateAscending" w-id="id_2ei9ef" w-source="ticketmaster" w-latlong="43.037400,-87.914552"></div>

<script src="https://ticketmaster-api-staging.github.io/products-and-docs/widgets/event-discovery/1.0.0/lib/main-widget.js"></script>
