@model IEnumerable<CrystalBallpro.Models.SalesHistorical>

@{
    ViewBag.Title = "Index";
}

<h2>Historical Correlation of Events, Employees, and Sales</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfEvents)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfEmployees)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalesIncreasePercent)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfEvents)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfEmployees)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalesIncreasePercent)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>*@
    </tr>
    }

</table>
